<?xml version="1.0"?>
<launch>

  <!-- bumblebee is started from root user -->

  <!-- start laser range finder LMS 111 -->
  <include file="$(find summit_xl_bringup)/launch/sick_lms_111.launch" />

  <!-- robot localization utils - calibration of gyro -->
  <include file="$(find summit_xl_localization)/launch/rl_utils.launch"/>

  <!-- start summit_xl_pad nodes -->
  <include file="$(find summit_xl_bringup)/launch/summit_xl_pad_ps4.launch" />

  <!-- start summit_xl_hw node low level driver -->
  <include file="$(find summit_xl_bringup)/launch/summit_xl_hw.launch" >
        <arg name="debug" value="false" />
  </include>

  <!-- start high level kinematic control -->
  <!-- include file="$(find summit_xl_bringup)/launch/summit_xls_control.launch" / -->

  <!-- start orbecc camera -->
  <!--include file="$(find summit_xl_bringup)/launch/orbbec.launch" /-->

  <!-- start complementary_filter and pixhawk node filter -->
  <include file="$(find summit_xl_bringup)/launch/pixhawk.launch"/>
  
  <!-- start summit_xl_web server -->
  <include file="$(find summit_xl_web)/launch/summit_xl_web.launch"/>
  
  <!-- fusion with other laser sources --> 
  <!--include file="$(find summit_xl_bringup)/launch/laserscan_multi_merger.launch"/-->

</launch>


