<?xml version="1.0"?>
<launch>

  <!-- arg name="robot_model"  default="$(env ROBOT_MODEL)"  doc="Different robot models: ('')"/ -->
  <!-- start robot_state_publisher - publish fixed transforms, load robot model to param server -->
  <include file="$(find summit_xls_ur5_description)/launch/summit_xls_ur5_state_robot.launch">
        <arg name="robot_model" value="_omni_170214A" />
  </include>

  <!-- Mobile Robot Startup -->
  <!-- Start mobile robot platform Summit Steel + sensors + hw controller -->
  <include file="$(find summit_xls_ur5_bringup)/launch/summit_xls_rover.launch"/>
  
  <!-- Mobile Robot Control -->
  <!-- include file="$(find summit_xl_bringup)/launch/summit_xls_control.launch"/ -->

  <!-- Gripper Controller -->
  <node name="robotiq_c_model_control" pkg="robotiq_c_model_control" type="CModelRtuNode.py" args="/dev/ttyUSB_ROBOTIQ" />

  <!-- Gripper State Publisher -->
  <node name="robotiq_c_state_publisher" pkg="summit_xls_ur5_bringup" type="CModelStatusPublisher.py" />

</launch>
